.about__section-image{
    border-radius: 50%;
    overflow: hidden;
    transition: var(--transition);
    /* /* width: 100%; */
    height: fit-content;
    /* display: block; */ 
    /* border: 1px solid var(--color-gray-400); */
    filter: blur(2px);
}

.container:hover .about__section-image{
    filter: blur(0);
}

.about__section-content h1{
    margin-bottom: 2rem;
}

.about__section-content p{
    margin-bottom: 1rem;
}

.about__story-container, .about__mission-container{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}
.about__vision-container{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}


@media screen and (max-width:1024px) {
    .about__section-image{
        width: 60%;
        filter: blur(0);
    }
    .about__section-content h1{
        margin-bottom: 1.2rem;
    }
    .about__story-container, .about__mission-container, .about__vision-container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .about__vision-container .about__section-image{
        grid-row: 1;
    }
    section{
        margin-top: 3rem !important;
    }
}

@media screen and (max-width:600px) {
    .about__section-image{
        width: 60%;
        filter: blur(0);
        margin-inline: auto;
    }
    .about__story-container, .about__mission-container, .about__vision-container{
        gap: 2rem;
    }
    .about__section-content p{
        font-size: 0.8rem;
    }

    .about__section-content h1{
        font-size: 2rem;
    }
}